body {
padding-left: 5em;
padding-right: 5em;
font-family: "华文中宋",sans-serif;
font-weight:bold;
color: GhostWhite;
background-image:url("bjt1.jpg");
      }
#blue{background-color:GhostWhite;}


h1 {
     font-family: Helvetica, Geneva, Arial,
           SunSans-Regular, sans-serif
         }

input {
    margin: 0.4rem;
}
